@import "../../styles/index.scss";

.App {
    @include borders(white, #999);
    //mixing scss
    // border-width: 4px;
    // border-style: solid;
    // border-color: white #999 #999 white;
    background: #c2c2c2;
    padding: 16px;

}

.Header{
    @include borders;
    background: #C0C0C0; 
    padding: 10px 12px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Body{
    @include borders;
    margin-top: 16px;
    
    display: grid;
    grid-template-rows: repeat(9, 1fr);
    grid-template-columns: repeat(9, 1fr);

}

.Face{
    @include borders(white, #7b7b7b);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 52px;
    height: 52px;
    font-size: 35px;

    cursor: pointer;
}